@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Global Style Properties */
body {
    display: flex;
    flex-direction: column;

    margin: 0px;
    background-color: #081120;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.g-container {
    margin: auto;
    width: 75%;
}

.g-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-title {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.g-title .main {
    display: flex;
    flex-direction: column;
}

.g-title img {
    width: 325px;
    margin-left: 50px;
}

.g-title h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 30px;
}

.g-title h2 span {
    background: linear-gradient(to right, #52b6df, #3e63d0);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.g-title .description {
    color: lightgray;
    margin: 0px;
    text-align: left;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.g-title .buttons {
    display: flex;
    justify-content: start;
    gap: 30px;

    margin-top: 30px;
}

.g-title .buttons a {
    background-color: #2e4051;
    color: white;
    border: 1px solid #2e4051;
    border-radius: 100px;
    padding: 15px 30px;
    transition: background-color 0.3s ease;

    &:nth-of-type(2) {
        background-color: transparent;
    }
}

.g-title .buttons i {
    margin-right: 10px;
    color: white;
}

.g-title .buttons a:hover {
    background-color: #3e63d0;
}


/* Media Queries */
@media (max-width: 1100px) {
    

    body .g-container {
        margin: auto;
        width: 85%;
    }

    .g-header {
        flex-direction: column;
        align-items: center;
    }

    .g-title {
        margin-top: 20px;

        img {
            display: none;
        }
    }

    .g-navbar {
        margin-top: 15px;
        margin-bottom: 35px;
    }
}

@media (max-width: 450px) {

    .g-title .buttons a {
        padding: 15px 20px;
        font-size: 0.8rem;
    }

    .g-title h2 {
        font-size: 2.3rem;
    }

    .g-title .description {
        font-size: 0.9rem;
    }
}