.g-samples {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.g-sample {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;

    /* padding: 20px;
    background-color: #1c1d20;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px; */
}

.g-sample .sample-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
    width: 40%;
    min-width: 330px;
}

.g-sample .sample-name {
    font-size: 1.6rem;
    margin: 0px;

    border-bottom: 3px solid gray;
    padding-bottom: 5px;
}

.g-sample .sample-desc {
    line-height: 1.1rem;
}

.g-sample .sample-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.g-sample .sample-tech div {
    padding: 10px;
    background-color: #2e4051;
    border-radius: 10px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #3e63d0;
    }
}

.g-sample img {
    border-radius: 10px;
    border: 3px solid gray;
    width: 100%;
    
    transition: box-shadow 0.3s ease;
}

.g-sample img:hover {
    box-shadow: 0 0 8px #9ecaed;
}

#p-projects #s-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

#p-projects #s-title .description {
    color: lightgray;
    margin: 0px;
    text-align: left;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

#p-projects #s-title h2 {
    width: fit-content;
    font-size: 2rem;
    border-bottom: 4px solid #3e63d0;
    padding-bottom: 6px;
}