/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Sacramento&family=Silkscreen&display=swap');

a {
    color: lightgray;
}

#p-resume main {
    font-family: "Times New Roman", sans-serif;
}

/* Header Styles */
#p-resume #s-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #172031;
    padding: 50px;
    padding-bottom: 35px;
    column-gap: 80px;
    row-gap: 0px;
}

#p-resume #s-header .img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#p-resume #s-header img {
    border: 4px solid white;
    border-radius: 50%;
}

#p-resume #s-header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: lightgray;
    letter-spacing: 0.1rem;
}

#p-resume #s-header .content .name {
    font-size: 3rem;
    font-weight: bolder;
    color: #9f6efc;
    padding-bottom: 4px;
    border-bottom: 4px solid;
}

#p-resume #s-header .content p {
    margin-bottom: 10px;
}

#p-resume #s-header .content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    padding: 0;
}

#p-resume #s-header .content ul i {
    color: #9f6efc;
    padding-right: 8px;
    transition: color 0.3s ease;
}

#p-resume #s-header .content ul a:hover > i {
    color: #c9acfd;
}

#p-resume #s-header .content ul a:hover > span {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

#p-resume .download-button {
    position: relative;
    top: -30px;

    font-weight: bold;
    width: fit-content;
    background-color: #9f6efc;
    color: white;
    border: 3px solid white;
    border-radius: 100px;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

#p-resume .download-button i {
    padding-left: 5px;
    color: white;
}

#p-resume .download-button:hover {
    background-color: #c9acfd;
}

/* Main Content Styles */
#p-resume #s-content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    margin-top: 30px;
    column-gap: 29px;
    row-gap: 40px;
    color: lightgray;
    letter-spacing: 0.5px;
}

#p-resume #s-content ul {
    padding-left: 10px;
    margin: 10px;
}

#p-resume #s-content li {
    margin-bottom: 6px;
}

#p-resume #s-skills .skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#p-resume #s-skills .skill-tags div {
    padding: 10px;
    background-color: #3d3f46;
    border-radius: 10px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #9f6efc;
    }
}

#p-resume .res-card {
    padding: 20px;
    padding-top: 12px;
    background-color: #1c1d20;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

#p-resume #s-main,
#p-resume #s-aside {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#p-resume #s-main {
    flex: 7;
    min-width: 400px;
}

#p-resume #s-aside {
    flex: 3;
    min-width: 280px;
}

#p-resume .item:nth-of-type(2) {
    margin-bottom: 20px;
}

#p-resume .heading {
    /* font-family: 'Segoe UI', sans-serif; */
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom: 3px solid;
    padding-bottom: 3px;
    margin-bottom: 20px;
    color: #9f6efc;
}

#p-resume .title {
    font-size: 1.1rem;
    font-weight: bold;
}

#p-resume .period {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 7px;
}

/* Media Queries */
@media screen and (max-width: 1260px) {
    #p-resume #s-header {
        text-align: center;
        border: 0px;
    }

    #p-resume #s-header .content .name {
        border: 0px;
    }
}

@media screen and (max-width: 1000px) {
    #p-resume #s-header .content .name {
        font-size: 2rem;
    }

    #p-resume #s-header .content ul span {
        display: none;
    }

    #p-resume #s-header .content ul i {
        transform: scale(1.3);
    }

    #p-resume #s-main {
        min-width: 300px;
    }

    #p-resume #s-header .content ul {
        justify-content: center;
    }

}